
<div id="warper">
  <div id="logo-navigator">
  </div>
  <div id="logo-navigator-menu">
    <ul>
      <li><a class="client-order" href="<%= orders_path %>"
             style="display:block; width:117px; height:115px; background:url(images/psp-navigator-page.png) no-repeat; background-position: 0px 0px;"></a>
      </li>
      <li><a class="printing-process" href="<%= manufactures_path %>"
             style="display:block; width:152px; height:115px; background:url(images/psp-navigator-page.png) no-repeat; background-position: -117px 0px;"></a>
      </li>
      <li><a class="printing-process" href="<%= invoices_path %>"
             style="display:block; width:141px; height:115px; background:url(images/psp-navigator-page.png) no-repeat; background-position: -269px 0px;"></a>
      </li>
      <li>
        <a class="factory-system" href="<%= stocks_path %>" style="display:block; width:102px; height:115px; background:url(images/psp-navigator-page.png) no-repeat; background-position: -410px 0px;"></a>
      </li>
      <li>
        <a class="bag-stock" href="<%= sents_path %>" style="display:block; width:100px; height:115px; background:url(images/psp-navigator-page.png) no-repeat; background-position: -512px 0px;"></a>
      </li>

    </ul>
  </div>
</div>

