<div class="menu-head-content">
    <ul>
        <li><a href="#"><strong>คลังสินค้า</strong></a></li>
    </ul>
</div>
<div class="menu-head-content-label">STOCK</div>


<div style="margin-top:10px;margin-bottom:10px; padding-left:5px; height:30px;">
     <div class="list-menu">
        <%= form_tag stocks_path, :method => 'get' do %>
        <%= select_tag(:search_state, options_for_select({"แสดงเฉพาะงานที่ยังไม่เสร็จ" => "1", "แสดงเฉพาะงานที่เสร็จแล้ว" => "2", "แสดงงานทั้งหมด" => "3"}, params[:search_state])) %>


            <%= select_tag(:search_type, options_for_select({"เลขที่ใบสั่งของ" => "1", "ชื่องาน" => "2", "ชื่อลูกค้า" => "3"}, params[:search_type])) %>
            <%= text_field_tag :search, params[:search], :placeholder => 'ข้อความที่ต้องการค้นหา...' %>
            <%= submit_tag "กรองข้อมูล", :name => nil %>
        <% end %>

      </div>
</div>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div id="manufactures">
    <%= render 'stock', :locals => { :stocks => @stocks }  %>
</div>