<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2>คุณต้องแก้ไขข้อผิดพลาดต่อไปนี้ก่อนจึงจะบันทึกได้:</h2>
      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="form">
        <ul>
            <li>
                <p>
                <label class="label-form"  for="form"><span><b>ลำดับที่ :</b></span>
                     <%= f.text_field :code, :readonly => true, :style=>"border:none" %>
                </label>
                </p>
            </li>
            <li>
                   <p>
                <label class="label-form"  for="form"><span><b>ชื่อลูกค้า :</b></span>
                    <%= f.text_field :name, :size => 40  %>
                </label>
                </p>
            </li>
            <li>
                   <p>
                <label class="label-form"  for="form"><span><b>แผนก/สาขา :</b></span>
                   <%= f.text_field :department, :size => 40  %>
                </label>
                </p>
            </li>
            <li>
                <p>
                <label class="label-form"  for="form"><span><b>ผู้ประสานงาน :</b></span>
                    <%= f.text_field :collaborator, :size => 40  %>
                </label>
                </p>
            </li>
            <li>
                <p>
                <label class="label-form"  for="form"><span style="vertical-align:top;"><b>ที่อยู่ :</b></span>

                </label>
               <%= f.text_area :address, :size => "22x4" %>
                </p>

            </li>
            <li>
                <p>
                <label class="label-form"  for="form"><span><b>เบอร์โทรศัพท์ :</b></span>
                    <%= f.text_field :telephone, :size => 30  %>
                </label>
                </p>
            </li>
            <li>
                <p>
                <label class="label-form"  for="form"><span><b>โทรศัพท์มือถือ :</b></span>
                     <%= f.text_field :mobile, :size => 30  %>
                </label>
                </p>
            </li>
            <li>
                <p>
                <label class="label-form"  for="form"><span><b>โทรสาร(Fax) :</b></span>

                  <%= f.text_field :fax, :size => 30  %>
                </label>
                </p>
            </li>
            <li>
                <p>
                <label class="label-form"  for="form"><span><b>อีเมล์ :</b></span>
                    <%= f.text_field :email, :size => 30  %>
                </label>
                </p>
            </li>
            <li>

            <%= render "shared/toolbar" %>
            </li>
        </ul>
    </div>

<% end %>

<% unless @customer.orders.empty? %>
<div class="menu-head-content">
    <ul>

        <li><a href="#"><b>รายการสั่งสินค้า</b></a></li>
    </ul>
</div>


<div id="tabel-data-warper" style="padding-top: 10px;">
  <table border="0" cellpadding="0" cellspacing="0" id="tabel-data">
    <thead class="tabel-data-thead">
    <tr height="30px">

      <th style="min-width: 80px;">ลำดับ</th>
      <th style="min-width: 150px;">วันรับงาน</th>
      <th style="min-width: 300px;">ชื่อลูกค้า</th>
      <th style="min-width: 200px;">ชนิดงาน</th>
      <th style="min-width: 80px;">จำนวน</th>
      <th style="min-width: 80px;">สถานะ</th>

    </tr>
    </thead>
    <tbody class="tabel-data-body">
    <% @customer.orders.each do |order| %>
        <tr class="<%= cycle('tr-odd','tr-even') %>" onclick="location.href='<%= edit_order_path(order) %>'">
          <td class="column-border" style="min-width: 80px;text-align: center;"><%= order.number %></td>
          <td class="column-border" style="min-width: 100px;text-align: center;"><%= I18n.l(order.end_date, :format => :long) %></td>
          <td class="column-border" style="min-width: 300px;"><%= order.customer.name %></td>
          <td class="column-border" style="min-width: 80px;text-align: center;"><%= order.product.name %></td>
          <td class="column-border" style="min-width: 80px;text-align: center;" id="hilight"><%= number_with_delimiter order.quantity %></td>
          <td class="column-border" style="min-width: 80px;text-align: center;">
            <% if order.state == "complete" %>
                <font color="green"> <%= t("order_state.#{order.state.downcase}") %> </font>
            <% elsif order.state == "ordering" %>
                <font color="red"><%= t("order_state.#{order.state.downcase}") %> </font>
            <% else %>
                <font color="gray"><%= t("order_state.#{order.state.downcase}") %> </font>


            <% end %>

          </td>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>