<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


  <%= stylesheet_link_tag :all %>

  <style type="text/css">
          /* Overide css code กำหนดความกว้างของปฏิทินและอื่นๆ */
      .ui-datepicker {
          width: 190px;
          font-family: tahoma;
          font-size: 11px;
          text-align: center;

      }

      .ui-datepicker-trigger {
          padding-left: 10px;
      }

      .ui-datepicker-month {
          width: 80px;
      }
  </style>

  <%= javascript_include_tag "psp/cufon-yui.js" %>
  <%= javascript_include_tag "psp/TH_K2D_July8_400.font.js" %>
  <%= javascript_include_tag "psp/TH_K2D_July8_700.font.js" %>


  <%= javascript_include_tag(:defaults) %>
  <%= javascript_include_tag "application.js" %>



  <%= csrf_meta_tag %>


  <script type="text/javascript">

      Cufon.replace('.menu-head-content', {hover:true});
      Cufon.replace('.menu-head-content-status-label', {hover:true});
      Cufon.replace('.tabel-data-thead', {hover:true});
      Cufon.replace('.buttons', {hover:true});
      //Cufon.replace('label', {hover:true});
      Cufon.replace('.label-form', {hover:true});
      Cufon.replace('.head-abel', {hover:true});
  </script>

  <title>PSP OPERATION PROGRAM </title>
</head>

<body>

<div id="warper">
  <div id="main">
    <div id="head">
      <div id="head-top">
        <div id="logo"></div>
        <div id="navigator">
          <ul>
            <% if current_user.role? :can_database or current_user.role? :admin %>
                <li><a class="nav-database" href="<%= database_path %>"></a></li>
            <% else %>
                <li><a class="nav-database" href="#"></a></li>
            <% end %>
            <% if current_user.role? :admin  %>
                <li><a class="nav-admin" href="<%= users_path %>"></a></li>
            <% else %>
                <li><a class="nav-admin" href="#"></a></li>
            <% end %>


            <% if current_user.role? :can_history or current_user.role? :admin %>
                <li><a class="nav-history" href="/logs/"></a></li>
            <% else %>
                <li><a class="nav-history" href="#"></a></li>
            <% end %>

            <% if current_user.role? :can_setting or current_user.role? :admin %>
                <li><a class="nav-setting" href="/configurations"></a></li>
            <% else %>
                <li><a class="nav-setting" href="#"></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- head-top -->
      <div id="head-bottom">
        <div id="label-logo"></div>
        <div id="user-detail">
          <div id="usersname">
            <a href="<%= edit_user_registration_path %>"><%= current_user.name unless current_user.nil? %></a></div>
          <br/>

          <div id="logout"><a href="<%= destroy_user_session_path %>">Sign Out</a></div>
        </div>
      </div>
      <!-- head-bottom -->
    </div>
    <!-- head -->
    <div id="body">
      <div id="menu">
        <ul>
          <li><a class="menu-client-order" href="<%= orders_path %>"></a></li>
          <li><a class="menu-printing-process" href="/manufactures"></a></li>
          <li><a class="menu-factory-system" href="<%= invoices_path %>"></a></li>
          <li><a class="menu-bag-stock" href="/stocks"></a></li>
          <li><a class="menu-delivery" href="/sents"></a></li>
        </ul>
      </div>
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <div id="content">
        <%= yield %>
      </div>


    </div>
    <div id="footer-debug">

      <%#= debug(params) if Rails.env.development? %>

    </div>
  </div>
</div>


</body>
</html>
