<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


  <%= stylesheet_link_tag :all %>

  <%= csrf_meta_tag %>

  <%= javascript_include_tag "psp/cufon-yui.js" %>
  <%= javascript_include_tag "psp/TH_K2D_July8_400.font.js" %>
  <%= javascript_include_tag "psp/TH_K2D_July8_700.font.js" %>

  <script type="text/javascript">

      Cufon.replace('.menu-head-content', {hover:true});
      Cufon.replace('.menu-head-content-status-label', {hover:true});
      Cufon.replace('.tabel-data-thead', {hover:true});
      Cufon.replace('.buttons', {hover:true});

      Cufon.replace('label', {hover:true});

  </script>

</head>
<body>
<div id="warper">
  <%= yield %>
</div>

</body>
</html>
